<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<body>
<nav id="navlog">
 <div class="logo1">CEFG</div>
</nav>

<div class="hmm1">
<h1 class="logh">Login</h1>
<form action="/" method="post">
  <div class="row">
    <label for="email">Email</label>
    <input type="email" name="email" autocomplete="off" placeholder="email">
  </div>
  <div class="row">
    <label for="password">Password</label>
    <input type="password" name="pass" placeholder="password">
  </div>
  {{#if message}}
    <p style="margin-top:-30px; color: red;font-size: 10px">{{message}}<p>
        {{/if}}
  <button id="gf">Login</button>
</form>
<a href="/sign">New user? Sign up now!</a>
</div>
        <section class="footer">
      <h1>©CEFG All rights reserved.</h1>
    </section>
</body>
</html>