<html>

<head>
    <script>
        const main = document.getElementById("main");
        var x = {{ db_result }}
        x.forEach(doc => {
            const { phone1, phone2, location, type, product, quantity } = doc;//store into constants
            const post = document.createElement('div');
            post.classList.add('post');
            post.innerHTML = `
            <div class="movie-info">
                <h3>${quantity} Nos of ${product} ${type}</h3>
                <span>Contact- ${phone1} </span>
                <br>
                <span>Alternate Contact- ${phone2}</span>
            </div>
        `
            main.appendChild(post);//apppends to main
        })
        });
    </script>
</head>

<body>
</body>
<div id="main"></div>
</html>